<% layout("/layouts/boilerplate")%>

<div class="row mt-4">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
            <p class="alert-heading"><%=  err.message %></p>
            <!-- <p><%= err.stack %></p> -->
        </div>
    </div>
</div>
